fastapi
uvicorn
pydantic
pydantic-settings
requests
motor
python-multipart
pymongo
confluent-kafka
httpx
python-json-logger
aiofiles
aiohttp
git+https://github.com/ahmetoner/fastapi-offline-swagger-ui